<!DOCTYPE html>
<html  lang="de">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <meta charset="UTF-8">
  <title>Grimwild - Kräuterkunde Crucible</title>

</head>
<body>
  <div id="app">
    <page-nav-bar></page-nav-bar>
    <div class="container">
      <h1 class="my-3">Kräuterkunde Crucible</h1>
      <crucible-result-input :result-items="results"
                             :submit="submitResult"
                             :duplicate="duplicateResult"
                             :delete="deleteResult">
        <template v-slot:selects="slotProps">
          <crucible-select v-model="slotProps.item.selectedPrefix"
                           :option-items="slotProps.item.prefixes"
                           empty-text="- Prefix wählen -">
          </crucible-select>
          <crucible-select v-model="slotProps.item.selectedSuffix"
                           :option-items="slotProps.item.suffixes"
                           empty-text="- Suffix wählen -">
          </crucible-select>
        </template>

      </crucible-result-input>

      <div class="row my-3">
        <dice-throw-input v-model="prefixRoll"
                          input-name="Prefix Wurf">
        </dice-throw-input>
        <dice-throw-input v-model="suffixRoll"
                          input-name="Suffix Wurf">
        </dice-throw-input>
        <div class="col">
          <button type="button" class="btn btn-primary" @click="addResult()"><i class="bi bi-file-earmark-plus"></i> Hinzufügen</button>
        </div>
      </div>

      <crucible-data-table heading="Kräuterkunde Crucible Daten"
                           :crucibles="[prefixes, suffixes]"
                           :crucible-names="['Prefix', 'Suffix']">
      </crucible-data-table>
    </div>
    <page-footer></page-footer>
  </div>
</body>
<script type="module">
  import { createApp, ref, reactive } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  import { rollDice } from "./randomDice.js";
  import Crucible from "./Crucible.js";

  import CrucibleDataTable from "./CrucibleDataTable.js";
  import CrucibleResultInput from "./CrucibleResultInput.js";
  import CrucibleSelect from "./CrucibleSelect.js";
  import DiceThrowInput from "./DiceThrowInput.js";
  import PageNavBar from "./PageNavBar.js";
  import PageFooter from "./PageFooter.js";

  class Result {
    constructor (prefixes, suffixes, prefixRoll, suffixRoll) {
      this.prefixRoll = prefixRoll
      this.suffixRoll = suffixRoll
      this.prefixes = prefixes;
      this.suffixes = suffixes;

      this.edit = true;
      this.value = '';

      this.selectedPrefix = [...prefixes][0];
      this.selectedSuffix = [...suffixes][0];

    }

    clone () {
      const clone = {...this};
      Object.setPrototypeOf(clone, Result.prototype);
      return clone;
    }

    isSubmittable () {
      const elements = [this.prefixes, this.suffixes]
      return elements.reduce((sum, curr) => sum + !!curr, 0) === 2;
    }

    submit () {
      if (this.isSubmittable()) {
        this.edit = false
        this.value = `${this.selectedPrefix}-${this.selectedSuffix}`;
      }
    }
  }

  createApp({
    components: {
      CrucibleDataTable,
      CrucibleResultInput,
      DiceThrowInput,
      CrucibleSelect,
      PageNavBar,
      PageFooter
    },
    setup() {
      const results = reactive([]);
      const prefixRoll = ref([]);
      const suffixRoll = ref([]);

      const prefixes = new Crucible([
        [ "Drossel", "Stern", "Sonnen", "Traum", "Dunst", "Schock" ],
        [ "Kleb", "Stein", "Mond", "Feder", "Ruß", "Spreng" ],
        [ "Woll", "Staub", "Teufels", "Wild", "Frier", "Blut" ],
        [ "Rauch", "Schlangen", "Honig", "Spiegel", "Stech", "Tinten" ],
        [ "Kreisch", "Mimik", "Ziegen", "Wurm", "Stahl", "Stink" ],
        [ "Kicher", "Nadel", "Nacht", "Schwell", "Feen", "Drache" ]
      ]);

      const suffixes = new Crucible([
        [ "Kappe", "Lilie", "Distel", "Schote", "Stiel", "Blütenblatt" ],
        [ "Wurz", "Schilf", "Glocke", "Knospe", "Trieb", "Bohne" ],
        [ "Rose", "Blume", "Blatt", "Zunge", "Rinde", "Knolle" ],
        [ "Busch", "Wurzel", "Holz", "Beere", "Trichter", "Rebe" ],
        [ "Pliz", "Stachel", "Gras", "Spitze", "Moos", "Samen" ],
        [ "Spross", "Schatten", "Dorn", "Bann", "Zweig", "Kraut" ]
      ]);

      return {
        results,
        prefixRoll,
        suffixRoll,
        prefixes,
        suffixes
      }
    },
    methods: {
      getResult (adjectiveRoll = rollDice(2), nounRoll = rollDice(2)) {
        const adjective = this.prefixes.getValue(adjectiveRoll);
        const noun = this.suffixes.getValue(nounRoll);

        const result = new Result(adjective, noun, adjectiveRoll, nounRoll)
        result.submit();
        return result
      },
      rollInputValid(roll) {
        return roll.length === 2 && roll[0] < 7 && roll[1] < 7
      },
      resetInput() {
        this.adjectiveRoll = []
        this.nounRoll = []
      },
      addResult (){
        let result;
        if (this.rollInputValid(this.prefixRoll)
          && this.rollInputValid(this.suffixRoll)) {
          result = this.getResult(this.prefixRoll, this.suffixRoll);
        } else {
          result = this.getResult();
        }
        this.results.push(result)
        this.resetInput();
      },
      submitResult(index) {
        this.results[index].submit();
      },
      duplicateResult (item) {
        const index = this.results.indexOf(item)
        const clone = this.results[index].clone();
        clone.edit = true;
        this.results.splice(index + 1, 0, clone);
      },
      deleteResult (item) {
        const index = this.results.indexOf(item)
        this.results.splice(index, 1)
      }
    }
  }).mount('#app')

</script>
</html>
