<!DOCTYPE html>
<html  lang="de">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <meta charset="UTF-8">
  <title>Grimwild - GM Crucible</title>

</head>
<body>
  <div id="app">
    <page-nav-bar></page-nav-bar>
    <div class="container">
      <h1 class="my-3">Patron Crucible</h1>
      <p>Zusammensetzen und Interpretieren</p>
      <crucible-result-input :result-items="results"
                             :submit="submitResult"
                             :duplicate="duplicateResult"
                             :delete="deleteResult">
        <template v-slot:selects="slotProps">
          <crucible-select v-model="slotProps.item.selectedNature"
                           :option-items="slotProps.item.natures"
                           empty-text="- Natur wählen -">
          </crucible-select>
          <crucible-select v-model="slotProps.item.selectedDesire"
                           :option-items="slotProps.item.desires"
                           empty-text="- Verlangen wählen -">
          </crucible-select>
        </template>

        <template v-slot:index="slotProps">
          <div class="col-2 py-2">
            {{slotProps.index + 1}}: {{slotProps.item.natureRoll.join(', ')}} x {{slotProps.item.desireRoll.join(', ')}}
          </div>
        </template>


      </crucible-result-input>

      <div class="row my-3">
        <dice-throw-input v-model="natureRoll"
                          input-name="Natur wurf">
        </dice-throw-input>
        <dice-throw-input v-model="desireRoll"
                          input-name="Verlangen wurf">
        </dice-throw-input>
        <div class="col">
          <button type="button" class="btn btn-primary" @click="addResult()"><i class="bi bi-file-earmark-plus"></i> Hinzufügen</button>
        </div>
      </div>

      <crucible-data-table heading="Patron Crucible Daten"
                           :crucibles="[natures, desires]"
                           :crucible-names="['Natur', 'Verlangen']">
      </crucible-data-table>
    </div>
    <page-footer></page-footer>
  </div>
</body>
<script type="module">
  import { createApp, ref, reactive } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  import { rollDice } from "./randomDice.js";
  import Crucible from "./Crucible.js";

  import CrucibleDataTable from "./CrucibleDataTable.js";
  import CrucibleResultInput from "./CrucibleResultInput.js";
  import CrucibleSelect from "./CrucibleSelect.js";
  import DiceThrowInput from "./DiceThrowInput.js";
  import PageNavBar from "./PageNavBar.js";
  import PageFooter from "./PageFooter.js";

  class Result {
    constructor (natures, desires, natureRoll, desireRoll) {
      this.natureRoll = natureRoll
      this.desireRoll = desireRoll
      this.natures = natures;
      this.desires = desires;

      this.edit = true;
      this.value = '';

      this.selectedNature = [...natures][0];
      this.selectedDesire = [...desires][0];

    }

    clone () {
      const clone = {...this};
      Object.setPrototypeOf(clone, Result.prototype);
      return clone;
    }

    isSubmittable () {
      const elements = [this.natures, this.desires]
      return elements.reduce((sum, curr) => sum + !!curr, 0) === 2;
    }

    submit () {
      if (this.isSubmittable()) {
        this.edit = false
        this.value = `${this.selectedNature} ${this.selectedDesire}`;
      }
    }
  }

  createApp({
    components: {
      CrucibleDataTable,
      CrucibleResultInput,
      DiceThrowInput,
      CrucibleSelect,
      PageNavBar,
      PageFooter
    },
    setup() {
      const results = reactive([]);
      const natureRoll = ref([]);
      const desireRoll = ref([]);

      const natures = new Crucible([
        [ "Zahnräder", "Abgrung", "Geißel", "Schatten", "Schleier", "Hohl (Hollow)" ],
        [ "Chimäre", "Schlange", "Flamme", "Grüner", "Außenseiter", "Gleichgewicht" ],
        [ "Leere", "Schmiede", "Phoenix", "Geflüster", "Trickster", "Unhold" ],
        [ "Toter Gott", "Dorn", "Tiefen", "Sensenmann", "Gewitter(Tempest)", "Sturm" ],
        [ "Ewige", "Vorbote", "Gezeiten", "Prisma", "Leviathan", "Drache" ],
        [ "Grabtuch", "Echo", "Sternenkind", "Träumer", "Licht", "Schatten" ]
      ]);

      const desires = new Crucible([
        [ "Chaos", "Schönheit", "Köpfe (Minds)", "Wohlstand", "Raritäten", "Zerstörung" ],
        [ "Geheimnis", "Spaß", "Kontrolle", "Magie", "Alles", "Denkmäler" ],
        [ "Macht", "Sieg", "Urteil", "Eintracht", "Seelen", "Biomasse" ],
        [ "Anbeter:innen", "Anbetung", "Angst", "Ruhm", "Rache", "Wissen" ],
        [ "Versprechen", "Reinheit", "Fortschritt", "Kuriositäten", "Wahrheit", "Schätze" ],
        [ "Einfluss", "Leben", "Teritorium", "Perfektion", "Ordnung", "Entropie" ]
      ]);

      return {
        results,
        natureRoll,
        desireRoll,
        natures,
        desires
      }
    },
    methods: {
      getResult (adjectiveRoll = rollDice(2), nounRoll = rollDice(2)) {
        const adjective = this.natures.getValue(adjectiveRoll);
        const noun = this.desires.getValue(nounRoll);

        const result = new Result(adjective, noun, adjectiveRoll, nounRoll)
        result.submit();
        return result
      },
      rollInputValid(roll) {
        return roll.length === 2 && roll[0] < 7 && roll[1] < 7
      },
      resetInput() {
        this.natureRoll = []
        this.desireRoll = []
      },
      addResult (){
        let result;
        if (this.rollInputValid(this.natureRoll)
          && this.rollInputValid(this.desireRoll)) {
          result = this.getResult(this.natureRoll, this.desireRoll);
        } else {
          result = this.getResult();
        }
        this.results.push(result)
        this.resetInput();
      },
      submitResult(index) {
        this.results[index].submit();
      },
      duplicateResult (item) {
        const index = this.results.indexOf(item)
        const clone = this.results[index].clone();
        clone.edit = true;
        this.results.splice(index + 1, 0, clone);
      },
      deleteResult (item) {
        const index = this.results.indexOf(item)
        this.results.splice(index, 1)
      }
    }
  }).mount('#app')

</script>
</html>
