<!DOCTYPE html>
<html lang="de">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
  <title>Grimwild - Zauberspruch Generator</title>

</head>
<body>
  <div id="app">
    <page-nav-bar></page-nav-bar>
    <div class="container">

      <crucible-object-generator heading="Zauberspruch Generator"
                                 description="Wähle 2 (Stil, Wesen, Form) und weise eine Schule zu."
                                 :roll-names="labels.slice(0, 3)"
                                 :get-result="getSpell"
                                 :model-value="spells"
                                 :display-modifier="addArcaneSpecialities">
      </crucible-object-generator>

      <h3 class="mt-3">*Arcane Spezialität</h3>
      <p>Falls du das Talent "Arcane Spezialität" besitzt, wähle deine Spezialitäten Schule.</p>
      <div class="row">
        <div class="col">
          <select class="form-select" :title="schoolDescriptions[specialitySchool]" v-model="specialitySchool">
            <option v-for="school in ['', ...magicSchools]" :title="schoolDescriptions[school]" :value="school">{{school || "Nicht vorhanden"}}</option>
          </select>
        </div>
      </div>

      <crucibe-data-table heading="Zauberspruch Daten"
                        :crucibles="[style, essence, form, {data: Object.entries(schoolDescriptions)}]"
                        :crucible-names="labels"></crucibe-data-table>
    </div>
    <page-footer></page-footer>
  </div>

</body>
<script type="module">
  import { createApp, ref, computed, reactive } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
  import { countNotEmpty, initRolls } from "./utils.js";
  import Crucible from "./Crucible.js";
  import CrucibleResult from "./CrucibleResult.js";

  import CrucibeDataTable from "./CrucibleDataTable.js";
  import CrucibleObjectGenerator from "./CrucibleObjectGenerator.js";
  import PageNavBar from "./PageNavBar.js";
  import PageFooter from "./PageFooter.js";

  const style = new Crucible([
    [ "bindende", "triefende", "schimmernde", "abschiermende", "neugierige", "schattenhafte" ],
    [ "flammende", "langsame", "zornige", "versteinernde", "hungrige", "majestätische" ],
    [ "charmante", "lautlose", "schillernde", "durchbohrende", "gemütliche", "rasende" ],
    [ "kryptische", "verdorrende", "ursprüngliche", "schreiende", "donnernde", "prismatische" ],
    [ "gefrierende", "sickernde", "grimmige", "habgierige", "giftige", "widerliche" ],
    [ "hypnotisierende", "unsichtbare", "ausweitende", "schnelle", "fiktive", "schreckliche" ]
  ]);

  const essence = new Crucible([
    [ "Öl", "Erde", "Überlieferung", "Blitz", "Asche", "Dorne" ],
    [ "Kristall", "Luft", "Feuer", "Geist", "Säure", "Rebe" ],
    [ "Schleim", "Pilz", "Tod", "Stase", "Klang", "Wasser" ],
    [ "Licht", "Hex", "Brand(Blight)", "Schrecken (Terror)", "Verstand", "Zugluft (draught)" ],
    [ "Verhängnis", "Rauch", "Sicht (Sight)", "Nebel", "Ungeziefer", "Holz" ],
    [ "Schmerz", "Energie", "Gefühl (Feeling)", "Knochen", "Fleisch", "Wurm" ]
  ]);

  const form = new Crucible([
    [ "Leuchtfeuer", "Diener", "Sicht", "Wächter", "Strahl", "Gift" ],
    [ "Ring", "Krone", "Scheibe", "Netz", "Guide", "Glut" ],
    [ "Ketten", "Wort", "Reißzahn", "Tor", "Wand", "Dunkelheit" ],
    [ "Auge", "Aura", "Böe", "Flüstern", "Flügel", "Welle" ],
    [ "Kaskade", "Schild", "Schwarm", "Säule", "Klaue", "Traum" ],
    [ "Blase", "Hand", "Tanz", "Explosion", "Maske", "Fäulnis" ]
  ]);

  const magicSchoolsEnum = [
    "Abjuration",
    "Conjuration",
    "Divination",
    "Verzauberung",
    "Evocation",
    "Illusion",
    "Nekromantie",
    "Transmutation"
  ]

  const magicSchoolDescriptions = {
    "Abjuration": "Schützt, blockt, vertreibt oder bannt.",
    "Conjuration": "Beschwört Kreaturen, Gegenstände und teleportiert.",
    "Divination": "Enthüllt Informationen, sagt die Zukunft voraus und liest Gedanken.",
    "Verzauberung": "Verzaubert, beeinflusst und verflucht empfindungsfähige Kreaturen.",
    "Evocation": "Erzeugt und kontrolliert elementare und magische Kräfte.",
    "Illusion": "Erzeugt falsche Bilder und Sinnestäuschungen.",
    "Nekromantie": "Beeinflusst Leben, Tod und Untote.",
    "Transmutation": "Verwandelt Materie und verändert die physikalischen Eigenschaften."
  }

  createApp({
    components: {
      CrucibeDataTable,
      CrucibleObjectGenerator,
      PageNavBar,
      PageFooter
    },
    setup() {
      const spells = reactive([]);
      const labels = ref(['Stil', 'Wesen', 'Form', 'Schule der Magie'])
      const specialitySchool = ref('');
      const schoolDescriptions = ref(magicSchoolDescriptions)
      const magicSchools = ref(magicSchoolsEnum);

      return {
        spells,
        labels,
        style,
        essence,
        form,
        schoolDescriptions,
        magicSchools,
        specialitySchool
      }
    },
    methods: {
      addArcaneSpecialities (spells) {
        if (this.specialitySchool === '') {
          return spells
        }
        const newSpells = []
        spells.forEach((spell) => {
          newSpells.push(spell);
          if(spell.isSubmittable() && spell.selectedValues[3] !== this.specialitySchool) {
            const clone = spell.clone();
            clone.selectedValues[3] = this.specialitySchool;
            clone.readonly = true;
            clone.submit()
            newSpells.push(clone)
          }
        })
        return newSpells;
      },
      getSpell (rolls) {
        let [styleRoll, essenceRoll, formRoll] = initRolls(rolls, 3)

        const styles = this.style.getValues(styleRoll);
        const essences = this.essence.getValues(essenceRoll);
        const forms = this.form.getValues(formRoll);

        const data = [styles, essences, forms, this.magicSchools]
        const labels = ['Stil', 'Wesen', 'Form', 'Schule der Magie']
        const descriptions = [undefined, undefined, undefined, magicSchoolDescriptions]
        const options = {
          validator ([style, essence, form, school]) {
            const elements = [style, essence, form];
            const twoElementsSelected = elements.reduce(countNotEmpty, 0) ===2
            const schoolSelected = !!school;
            return twoElementsSelected && schoolSelected;
          }
        }
         const usedRolls = [styleRoll, essenceRoll, formRoll]

        return new CrucibleResult(data, labels, descriptions, options, usedRolls)
      }
    }
  }).mount('#app')

</script>
</html>
